<Files ./config.ini>
    deny from all
</Files>
<Files ./db.php>
    deny from all
</Files>
<Files ./composer.json>
    deny from all
</Files>
<Files ./composer.lock>
    deny from all
</Files>
<Files ./git>
    deny from all
</Files>
<Files ./idea>
    deny from all
</Files>

